#!/bin/bash
sleep 30
CONTAINER="postgres-db"
RUNNING=$(docker inspect --format="{{ '{{.State.Running}}' }}" $CONTAINER 2> /dev/null)
DB_NAME="{{ POSTGRES_DB }}"
DB_USER="{{ POSTGRES_USER }}"

#until [ "$RUNNING" == "true" ]
#do
#   docker cp ./init.sql postgres-db:/opt/init.sql
#done


docker cp ./init.sql $CONTAINER:/opt/init.sql
docker exec -it postgres-db sh -c "psql -U '$DB_USER' -w -d '$DB_NAME' -f /opt/init.sql"
docker exec -it nginx bash -c "service nginx reload"

